@charset "UTF-8";
/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, kbd, q, samp, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, header, nav, article, aside, footer, hgroup, section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	text-decoration: none;
}
:focus, :active { outline: 0 }

ol, ul { list-style: none }

header, nav, article, aside, footer, hgroup, section { display: block }

a { color: #C0C0C0 }
a:hover { border-bottom: 1px solid #940033; border: none  }
a:active { border-bottom: 2px solid #940033; border: none  }


body {
	margin: 2px;
}

/* HEADER */
hgroup { 
	min-width:430px;
	margin-left: auto;
	margin-right: auto; 
	margin-top:20px;
	margin-bottom:10px;
}

hgroup h1 {
	margin-left: 70px;
	font-size: 40px;
	color: #000000;
	text-shadow: -1px -1px 0 #FFFFFF, 0 0 10px rgba(255,255,255,0.7);
}

hgroup .banner {
	height:20px;
	background-color: #444;
}

hgroup h1 a { color:#000000; }
hgroup h1 a:hover { border: none }





