<div id="footer" class="group">

  <div id="joinVolcom">
    <h4>Join the Volcom Family</h4>
    <p>Stay up-to-date with the latest deals and announcements</p>
    <form id="joinForm" action="http://shop.volcom.com/on/demandware.store/Sites-Volcom-Site/default/EmailSignup-Start" method="get">
      <input type="text" name="signupaddress" id="joinInput" title="Volcom Newsletter" value="" />
      <input type="image" name="simplesearch" id="joinButton" value="Sign Up" src="{{AWS_S3_DOMAIN}}/media/images/button-signup.png" />
    </form>
  </div>
  <ul id="footerIcons">
    <li id="vbj"><a href="http://shop.volcom.com/Volcom-Brand-Jeans/mens-denim,default,sc.html" title="Volcom Brand Jeans">Volcom Brand Jeans</a></li>
    <li id="vab"><a href="http://www.volcom.com/theprovinggrounds/boardshorts.html" title="Volcom Annihliator Boardshorts">Volcom Annihilator Boardshorts</a></li>
    <li id="swim"><a href="http://swim.volcom.com" title="Swim">Swim</a></li>
    <li id="vls"><a href="http://shop.volcom.com/V.Co-Logical-Series/mens-v-co-logical-series,default,sc.html?cm_mmc=Display-_-ValueClick-_-Messaging-_-volcomFooter-vcological" tilte="Volcom Logical Series">Volcom Logical Series</a></li>
    <li id="va"><a href="/vlcm_oz/art" title="Volcom Art">Volcom Art</a></li>
  </ul>
  <ul class="footerLinks col-1">
    <li><a href="#">About Volcom</a></li>
    <li><a href="http://www.volcom.com/history/brandifesto.asp">Brandifesto</a></li>
    <li><a href="http://www.volcom.com/history/">History</a></li>
    <li><a href="https://www7.ultirecruit.com/VOL1004/JobBoard/ListJobs.aspx?__vt=ExtCan">Work at Volcom</a></li>
    <li><a href="http://shop.volcom.com/on/demandware.store/Sites-Volcom-Site/default/CustomerService-Show">Customer Service</a></li>
    <li><a href="http://www.volcom.com/stopfakes/default.asp">Report Fakes</a></li>
    <li><a href="http://www.volcom.com/investorRelations/index_new.asp?catId=1">Investor Relations</a></li>
    <li><a href="<?php bloginfo('url'); ?>/contact-us/">Contact Us</a></li>
  </ul>
  <ul class="footerLinks col-2">
    <li><a href="http://shop.volcom.com/Terms-of-Use/terms,default,pg.html">Terms of Use</a></li>
    <li><a href="http://shop.volcom.com/Submissions/submissions,default,pg.html">Submissions</a></li>
    <li><a href="http://shop.volcom.com/Privacy-Policy/privacy-policy,default,pg.html">Privacy Policy</a></li>
    <li><a href="http://www.volcom.com/stores/">Stores</a></li>
    <li><a href="http://www.volcom.com/retailer/login.asp">Retailers Only</a></li>
    <li><a href="http://www.volcom.com/wallpapers/">Wallpapers</a></li>
  </ul>
  <ul class="footerLinks col-3">
    <li><a href="#">Blogs</a></li>
    <li><a href="http://newfuture.volcom.com/">New Future</a></li>
    <li><a href="http://volcomprovinggrounds.com">Proving Grounds</a></li>
    <li><a href="http://theinternetshack.blogspot.com">Internet Shack</a></li>
    <li><a href="http://cocoho.volcom.com/">Coco Ho Blog</a></li>
  </ul>
  <p id="copyright">Copyright &copy; 2011 VOLCOM STONE, Inc. All Rights Reserved</p>

</div>