<header>

	<section id="masthead">
        <div id="branding" role="banner">
            <hgroup>
                <h1><a href="/">Volcom</a></h1>
            </hgroup>
            <nav role="navigation">
              <ul id="primaryNav" class="group">
                <li id="navClothing"><a href="/catalog/browser">Clothing</a></li>
                <li id="navHappenings"><a href="/happenings">Happenings</a></li>
                <li id="navTeam"><a href="/team">Team</a></li>
                <li id="navVideos"><a href="/videos">Videos</a></li>
                <li id="navArt"><a href="/art">Art</a></li>
                <li id="navMusic"><a href="http://www.volcoment.com/">Music</a></li>
                <li id="navEvents"><a href="/events">Events</a></li>
              </ul>
              <ul id="socialMedia" class="group">
                <li id="facebook"><a href="http://www.facebook.com/Volcom" title="Facebook">Facebook</a></li>
                <li id="twitter"><a href="http://twitter.com/volcom" title="Twitter">Twitter</a></li>
                <li id="youTube"><a href="http://www.youtube.com/VolcomStoneYAE" title="YouTube">YouTube</a></li>
                <li id="rss"><a href="feed://www.volcom.com/rss/happs.asp" title="RSS">RSS</a></li>
              </ul>
            </nav>

            <?php get_search_form(); ?>

        </div>
    </section>

</header>