{% extends "retailer.html" %}
{% load i18n %}

{% block title %}{% trans 'Seasonal' %}{% endblock %}

{% block content %}
<!-- retail content -->
<div id="retailer-content">
    <!-- retail section title -->
    <div id="retailer-sec-title">
        <h2>Seasonal Support Imagery</h2>
        <p>Click the title to download the document. Once you click the title, a download window will appear and ask you where you want to save the file on your computer.</p>
    </div>
    <!-- end retail section title -->

    {% for season in seasonals %}
    <div class="retailer-imagery-wrapper">
        <a href="{{season.url}}"><img class="retailer-imagery-thumb" src="{{season.url}}" alt="{{season.name}}"/></a>

        <div class="retailer-imagery-details">
            <p class="imagery-title">{{season.name}}</p>
            <p><b>Size:</b> 800 x 600</p>
            <p class="imagery-dl"><a href="{{season.url}}">download {{season.imageFile}}</a></p>
        </div>
    </div>
    {% endfor %}
</div>
<!-- end retail content -->
{% endblock %}
