<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>
	<link href="{{AWS_S3_DOMAIN}}/media/stylesheets/main.css" rel="stylesheet">
	<link href="{{AWS_S3_DOMAIN}}/media/stylesheets/login.css" rel="stylesheet">
	{% block css_includes %}{% endblock %}
{% if user.is_authenticated %}
	<link href="{{AWS_S3_DOMAIN}}/media/stylesheets/main-retailer.css" rel="stylesheet">
{% else %}
{% endif %}
<script src="{{AWS_S3_DOMAIN}}/media/js/cufon-yui.js"></script>
<script src="{{AWS_S3_DOMAIN}}/media/js/Swiss924_400.font.js"></script>
<script>
	Cufon.replace('.cat-sec-title h3'); 
	Cufon.replace('#login-title h1');
</script>
<script src="{{AWS_S3_DOMAIN}}/media/js/jquery-1.5.1.js"></script>
<script src="{{AWS_S3_DOMAIN}}/media/js/application.js"></script>
{% block js_includes %}{% endblock %}
</head>
{% if user.is_authenticated %}
	{% include "snippets/admin-header.html" %}
{% else %}
	{% include "snippets/header.html" %}
{% endif %}
<body>

<div id="wrapper">
{% block content %}	
{% endblock %}
<div class="clear"></div>
</div>

</body>

{% if not user.is_authenticated %}
	{% include "snippets/footer.html" %}
{% endif %}
<script>Cufon.now();</script>
</html>